@import "tailwindcss";


:root {

    --font-inter: Inter, sans-serif;
    --font-nato: Nato Sans, sans-serif;
    
    --color-white: #e2ebf8;
    --color-gray: #7c859e;
    --color-dark-blue: #182b42;
    --color-very-dark-blue: #111526;
    --color-green: #56b890;
    --color-red: #f25f5c;
    --color-green-light: #a8dadc50;
    --color-red-light: #ffb4b250;
    --color-gray-opaque: #7c859e20;
    --color-dark-blue-opaque: #182b4220;
    --color-very-dark-blue-opaque: #11152620;
    --color-green-opaque: #56b89020;
    --color-border-color: #1d2e3f;


    --color-marine-blue: hsl(213, 96%, 18%);
    --color-purplish-blue: hsl(243, 100%, 62%);
    --color-pastel-blue: hsl(228, 100%, 84%);
    --color-light-blue: hsl(206, 94%, 87%);
    --color-strawberry-red: hsl(354, 84%, 57%);
    --color-cool-gray: hsl(231, 11%, 63%);
    --color-light-gray: hsl(229, 24%, 87%);
    --color-magnolia: hsl(217, 100%, 97%);
    --color-alabaster: hsl(231, 100%, 99%);
      


}

body{
    
    color: var(--color-white);
    background: radial-gradient(
      circle at 150% 0,
      var(--color-dark-blue) 0,
      var(--color-very-dark-blue) 100%
    );
}
